body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 0;
}

/*CONTENEDOR PRINCIPAL*/

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    justify-content: space-between;
    height: 4.5rem;
    width: 100%;
    background-color: #495057;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.nav-menu {
    align-items: flex-end;
    display: flex;
    margin-right: 3rem;
}

.nav-item {
    list-style: none;
    margin-right: 1rem;
}

.nav-logo {
    margin: 0 1rem;
    text-align: center;
    color: white;
}

.btn_ini {
    letter-spacing: 2px;
    background-color: #F8F9FA;
    height: 2rem;
    border-radius: 6px;
    border: none;
    padding: 0 1rem;
    transition: all 0.5s ease;
    font-size: 1.1rem;
}

.btn_ini:hover {
    background-color: #808e95;
}

.container {
    flex-direction: column;
    height: 90vh;
}

.tarjet {
    text-align: center;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    width: 90%;
    height: 90%;
    background-color: #CFD8DC;
    border-radius: 10px;
}

.file {
    font-size: 1rem;
    margin: 0 1rem ;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content .btn-2 {
    width: 100%;
    border: none;
    color: black;
    padding: 12px 16px;
    background-color: #e2f1f8;
    display: block;
    text-align: left;
}

.dropdown-content .btn-2:hover {
    background-color: #9da6a9;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.section {
    text-align: center;
    height: 50%;
}

.section img {
    height: 150px;
}

.text_init {
    font-size: 3rem;
    font-weight: normal;
    letter-spacing: 3px;
    font-weight: 500;
    margin: 1.5rem;
}

.btn_content {
    margin: 0 1rem;
    background-color: #E91E63;
    color: #f9f9f9;
    padding: 7px 12px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: all 0.5s ease;
}

.btn_content:hover {
    background-color: #91A6FF;
    transition: all 0.5s ease;
}

.textarea_init {
    font-size: 1rem;
    background-color: white;
    color: black;
    height: 300px;
    width: 45%;
    border-radius: 10px;
    resize: none;
    
}

.textarea {
    font-size: 1rem;
    background-color: white;
    color: black;
    height: 330px;
    width: 60%;
    border-radius: 10px;
    resize: none;
}

.btn-flotante {
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	background-color: #E91E63; /* Color de fondo */
	padding: 15px 25px; /* Relleno del boton */
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
    border: none;
}
.btn-flotante:hover {
	background-color: #2c2fa5; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}
@media only screen and (max-width: 600px) {
 	.btn-flotante {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
}
h2 {
    color: black;
    font-size: 2rem;
    margin: 0;
    letter-spacing: 2px;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    background-color: #E91E63;
    color: #f9f9f9;
    padding: 7px 12px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: all 0.5s ease;
    display: inline-block;
}

.inputfile:focus+label,
.inputfile+label:hover {
    background-color: #91A6FF;
}

.inputfile+label {
    cursor: pointer;
    /* "hand" cursor */
}

.inputfile:focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
/* style="font-size: 1rem; height: 65%; width: 55%; border-radius: 10px; margin-bottom: 1rem; resize: none" */